body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

h2 {
    color: darkred;
}

img {
    width: 250px;
    display: block;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
}